<%= if @current_user do %>
  <%= live_render(@conn,
                  FizzbuzzexWeb.FavouriteLive,
                  session: %{"current_user" => @current_user,
                             "number" => @conn.params["page"]["number"],
                             "size" => @conn.params["page"]["size"]}) %>
<% end %>
