<h1>Show Favourite</h1>

<ul>

  <li>
    <strong>Number:</strong>
    <%= @favourite.number %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.favourite_path(@conn, :edit, @favourite) %></span>
<span><%= link "Back", to: Routes.favourite_path(@conn, :index) %></span>
